@media (max-width: 400px) {
    .porcentaj {
 
        margin-bottom: 6% !important;
    }
}

@media (max-width: 500px) {
    .porcentaj {
      
        margin-bottom: 6% !important;
    }
}

@media (max-width: 600px) {
    .my-skills-section {
        flex-direction: column;
        padding: 20px;
        align-items: flex-start;
    }

    .my-skills-content {
        max-width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .skills-title {
        font-size: 1.5rem !important;
        margin-bottom: 10px !important;
        text-align: center;
    }

    .skills-description {
        font-size: 1rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .skills-list {
        margin-top: 10px;
    }

    .skill-item {
        margin-bottom: 10px;
    }

    .skill-name {
        font-size: 12px;
    }

    .skill-icon-container {
        padding: 10px;
        box-shadow: none;
        border: none;
    }

    .skill-icon {
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
    }

    .skill-icon-name {
        font-size: 14px !important;
    }

    .manchas {
        display: none;
    }

    .detalle10 {
        display: none;
    }

    .detalle20 {
        top: -5vh;
        right: 0;
        width: 100px;
    }

    .skill-progress {
        margin-top: -10px;
        margin-right: 20px;
    }

    .porcentaj {

        margin-bottom: 6% !important;
    }

    .caja {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (max-width: 1024px) {
    .manchas {
        display: none;
    }

    .my-skills-content {
        margin-top: 0;
        max-width: 100%;
    }

    .my-skills-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caja {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 10px;
    }

    .skill-icon-container {
        padding: 20px;
        box-shadow: none;
    }

    .skill-icons {
        justify-content: center !important;
        flex-wrap: nowrap;
        margin-top: 10px;
        margin-left: 0;
    }
}
